/* Flux */

.flux {
max-width: 1000px;
margin-left: auto;
margin-right: auto;
}

/* boutons */
.button {
    background-color: goldenrod;
    border-radius: 100px;
    box-shadow: rgba(156, 187, 44, .2) 0 -25px 18px -14px inset,rgba(156, 187, 44, .15) 0 1px 2px,rgba(156, 187, 44, .15) 0 2px 4px,rgba(156, 187, 44, .15) 0 4px 8px,rgba(156, 187, 44, .15) 0 8px 16px,rgba(156, 187, 44, .15) 0 16px 32px;
    color: yellow;
    cursor: pointer;
    display: inline-block;
    font-family: 'Mooli', sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
}

.button:hover {
    box-shadow: rgba(156, 187, 44, 0.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-0deg);
}

/*body*/

body  {
    background-color: rgb(1, 1, 43);
    }
    
    h1, p, .header__btn-calc, body{
        font-family: 'Mooli', sans-serif;
        padding: 0;
        margin :0
     }
    
     @font-face {
        font-family: 'Mooli';
        src: url('../fonts/Mooli-Regular.ttf') format('truetype');
        }
    
    span {
            background-color: rgb(2, 2, 100);
            color: gold;
    }

/* header */
header {
    position: fixed;
    width: 1000px;
}

.header__container {
    background-color: rgb(1, 1, 43);
    border-bottom: 1px solid goldenrod;
}

.header__wrapper {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-gap: 10px;
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__title {
    color : goldenrod;
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__calc-choice {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 30px;
    grid-column: 1;
    grid-row: 1;
}
.header__niv-choice {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap: 30px;
    padding-top: 10px;
    grid-column: 1;
    grid-row: 2;
}

.header__start {
    grid-column: 3;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__btn-calc {
    background-color: goldenrod;
    border: solid goldenrod;
    color: yellow;
    width :40px;
    border-radius : 5px; 
}
.header__btn-calc:hover {
    background-color: yellow;
    color: goldenrod;
    transform: scale(1.05)
}

.header__btn-niv {
    width: 35px;
}

/* Game area*/

main {
    background-image: url('../images/cosmic-160340_640.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    row-gap: 20px;
    }

    .game-area__wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr 3fr 3fr 2fr;
        grid-gap: 5px;
        grid-template-rows: 2fr 3fr 2fr 3fr 2fr 3fr 2fr 3fr 2fr;
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }
    
    .game-area__cell-1 {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-2 {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        align-items: center;
    }
    
    .game-area__cell-3 {
        grid-column: 2;
        grid-row: 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-4 {
        grid-column: 2;
        grid-row: 4;
        display: flex;
        align-items: center;
    }
    .game-area__cell-5 {
        grid-column: 2;
        grid-row: 5;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-6 {
        grid-column: 2;
        grid-row: 6;
        display: flex;
        align-items: center;
    }
    .game-area__cell-7 {
        grid-column: 3;
        grid-row: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-8 {
        grid-column: 3;
        grid-row: 2;
        display: flex;
        align-items: center;
    }
    .game-area__cell-9 {
        grid-column: 3;
        grid-row: 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-10 {
        grid-column: 3;
        grid-row: 4;
        display: flex;
        align-items: center;
    }
    .game-area__cell-11 {
        grid-column: 3;
        grid-row: 5;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-12 {
        grid-column: 3;
        grid-row: 6;
        display: flex;
        align-items: center;
    }
    .game-area__cell-13 {
        grid-column: 3;
        grid-row: 7;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-14 {
        grid-column: 3;
        grid-row: 8;
        display: flex;
        align-items: center;
    }
    .game-area__cell-15 {
        grid-column: 4;
        grid-row: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-16 {
        grid-column: 4;
        grid-row: 2;
        display: flex;
        align-items: center;
    }
    .game-area__cell-17 {
        grid-column: 4;
        grid-row: 3;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-18 {
        grid-column: 4;
        grid-row: 4;
        display: flex;
        align-items: center;
    }
    .game-area__cell-19 {
        grid-column: 4;
        grid-row: 5;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .game-area__cell-20 {
        grid-column: 4;
        grid-row: 6;
        display: flex;
        align-items: center;
    }
    
    .bonneReponse  {
        display: flex;
        justify-items: left;
    }
    .game-area__score {
        grid-column: 1/6;
        grid-row: 11;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
.game-area__score-star {
    height: 20px;
    display : none;
}

#div-score {
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    color: goldenrod;
    font-size: large;
}

.game-area__timer-area {
    grid-column: 1;
    grid-row: 1/5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
background-color: rgba(255,215,0,0);
margin: 25px;
    opacity: 0.9;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    color: gold;
    font-size: large;
}

.game-area__timer-image {
height: 70px;
}

.game-area__timer-text {
font-size: x-large;
display: flex;
align-items: center;
height: 70px;
}

/* Footer */

footer {
position: fixed;
width: 100%;
display: flex;
border: solid 1px;
}

/*JS*/

.selectionne {
    background-color: goldenrod;
    border: solid yellow 1px;
    color: yellow;
    scale : 1.2;
    transition: 250ms;
}

.niv-select  {
    scale: 1.4;
    border : 0px;
    transition: 250ms;
}
#codeCalcul {
    color: white;
}

.hidden  {
    display: none;
}

.list-group-item  {
    display: inline-block;
}

.input-rep {
    border: dotted 6px gold;
    background-color: rgb(2, 2, 100,0.2);
    height: 60px;
    width: 60px;
    text-align: right;
    border-radius: 50%;
    overflow: hidden;
    color: yellow;
}
.input-rep:focus {
    outline: none;
    border: dotted 6px gold;
    background-color: rgba(255,255,0,0.0);
    height: 65px;
    width: 65px;
    transition: all 250ms;
}







